<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{html/layout :: email(area='Documentos', preheader=${documento} + ' de ' + ${funcionario} + ': ' + ${#strings.toLowerCase(chamada)} + ' (' + ${vencimento} + ').', conteudo=~{::conteudo})}">
<body>
<th:block th:fragment="conteudo">
    <th:block th:replace="~{html/pecas :: titulo(${chamada}, 'Documento a vencer')}"></th:block>
    <!-- No dia do vencimento, o alerta: antes era o cabeçalho inteiro em vermelho. -->
    <th:block th:if="${hoje}"><table th:replace="~{html/pecas :: alerta('Último dia', 'Renove o documento para o funcionário não ficar irregular a partir de amanhã.')}"></table></th:block>
    <p th:replace="~{html/pecas :: texto('Você é responsável por este tipo de documento, e ele precisa ser renovado.')}"></p>
    <table th:replace="~{html/pecas :: quadro(${ { {'Funcionário', funcionario}, {'Documento', documento}, {'Tipo', tipo}, {'Vencimento', vencimento} } })}"></table>
    <table th:replace="~{html/pecas :: botao('Abrir os documentos', ${link})}"></table>
</th:block>
</body>
</html>
