<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{html/layout :: email(area='Primeiro acesso', preheader='Use ' + ${token} + ' para criar sua senha. Vale por ' + ${ttlMinutes} + ' minutos.', conteudo=~{::conteudo})}">
<body>
<th:block th:fragment="conteudo">
    <th:block th:replace="~{html/pecas :: titulo('Crie seu acesso ao portal', null)}"></th:block>
    <p th:replace="~{html/pecas :: texto('Olá! Recebemos um pedido de primeiro acesso ao portal com o seu e-mail. Use o código abaixo para continuar o cadastro:')}"></p>
    <table th:replace="~{html/pecas :: codigo(${token}, 'O código expira em ' + ${ttlMinutes} + ' minutos.')}"></table>
    <table th:replace="~{html/pecas :: botao('Continuar cadastro', ${actionUrl})}"></table>
    <p th:replace="~{html/pecas :: link-reserva(${actionUrl})}"></p>
    <p th:replace="~{html/pecas :: pequeno('Se você não pediu este acesso, ignore este e-mail e avise o RH. O código é de uso único e só funciona com a senha criada por você.')}"></p>
</th:block>
</body>
</html>
