<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{html/layout :: email(area='Redefinição de senha', preheader='Use ' + ${token} + ' para criar uma senha nova. Vale por ' + ${ttlMinutes} + ' minutos.', conteudo=~{::conteudo})}">
<body>
<th:block th:fragment="conteudo">
    <th:block th:replace="~{html/pecas :: titulo('Redefina sua senha', null)}"></th:block>
    <p th:replace="~{html/pecas :: texto('Recebemos um pedido para redefinir o acesso ao portal. Use o código abaixo para criar uma senha nova:')}"></p>
    <table th:replace="~{html/pecas :: codigo(${token}, 'O código expira em ' + ${ttlMinutes} + ' minutos.')}"></table>
    <table th:replace="~{html/pecas :: botao('Redefinir senha', ${actionUrl})}"></table>
    <p th:replace="~{html/pecas :: link-reserva(${actionUrl})}"></p>
    <p th:replace="~{html/pecas :: pequeno('Se você não pediu, ignore este e-mail: sua senha continua a mesma. Se isso se repetir, avise o RH.')}"></p>
</th:block>
</body>
</html>
